<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <properties>
        <property name="fileName">logs/periodical_logs.log</property>
        <property name="basePattern">%d{HH:mm:ss, dd MMM yyyy} [%-5p] (%F:%L) — %m%n — \n %xEx{full}</property>
    </properties>

    <appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${basePattern}" />
        </Console>

        <File name="FILE" filename="${fileName}">
            <PatternLayout pattern="${basePattern}" />
        </File>
    </appenders>

    <loggers>
        <logger name="by.training.zorich.controller" level="ERROR">
            <appender-ref ref="FILE"/>
        </logger>

        <root level = "ERROR">
            <appender-ref ref="STDOUT" />
        </root>
    </loggers>


</configuration>